.page {
  position: relative;
  width: 1440px;
  height: 2267px;
  margin: 0 auto;
  background: white;
}

.TandL {
  position: absolute;
  top: 40px;
  left: 160px;
  width: 1120px;
  height: 96px;
}

.title {
  color: #0A1B6F;
  font-size: 64px;
  line-height: 96px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.introduction {
  position: absolute;
  top: 183px;
  left: 156px;
  width: 1120px;
  height: 22px;
  color: #0A1B6F;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  top: 242px;
  left: 0px;
  width: 1440px;
  height: 2025px;
}

.vector {
  position: absolute;
  top: 1429px;
  left: 1123px;
  width: 2px;
  height: 12px;
  border: 2px solid #0A1B6F;
  box-sizing: border-box;
}

.setsumei {
  color: #0A1B6F;
  font-size: 14px;
  line-height: 20px;
}
