.page {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1440 / 2267;
  font-size: 1.1111vw;
  margin: 0 auto;
  background: white;
  transform-origin: top center;
}

.title {
  position: absolute;
  top: 1.7644%;
  left: 11.1111%;
  width: 77.7778%;
  height: 4.2347%;
  color: #0A1B6F;
  font-size: 400%;
  line-height: 150%;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.introduction {
  position: absolute;
  top: 8.0728%;
  left: 10.8333%;
  width: 77.7778%;
  height: 0.9704%;
  color: #000000;
  font-size: 112.5%;
  line-height: 122.2222%;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  top: 10.6740%;
  left: 0%;
  width: 100%;
  height: 89.3260%;
  padding: 0 11.1111%;
  box-sizing: border-box;
}

.rectangle1 {
  position: absolute;
  top: 3.6543%;
  left: 20.1389%;
  width: 59.7222%;
  height: 13.4321%;
  background: transparent;
  border: 0.0694vw solid #000000;
  box-sizing: border-box;
}
.rectangle2 {
  position: absolute;
  top: 17.1852%;
  left: 20.1389%;
  width: 59.7222%;
  height: 13.4321%;
  background: transparent;
  border: 0.0694vw solid #000000;
  box-sizing: border-box;
}
.rectangle3 {
  position: absolute;
  top: 40.1481%;
  left: 20.1389%;
  width: 29.8611%;
  height: 14.1728%;
  background: transparent;
  border: 0.0694vw solid #000000;
  box-sizing: border-box;
}
.rectangle4 {
  position: absolute;
  top: 40.1481%;
  left: 50%;
  width: 29.8611%;
  height: 14.1728%;
  background: transparent;
  border: 0.0694vw solid #000000;
  box-sizing: border-box;
}
.rectangle5 {
  position: absolute;
  top: 64.5926%;
  left: 20.1389%;
  width: 29.8611%;
  height: 7.9012%;
  background: transparent;
  border: 0.0694vw solid #000000;
  box-sizing: border-box;
}
.rectangle6 {
  position: absolute;
  top: 64.5926%;
  left: 50%;
  width: 29.8611%;
  height: 7.9012%;
  background: transparent;
  border: 0.0694vw solid #000000;
  box-sizing: border-box;
}

.sectionTitle {
  position: absolute;
  left: 20.4167%;
  width: 11.4583%;
  height: 2.5679%;
  color: #0A1B6F;
  font-size: 225%;
  line-height: 61.1111%;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.sectionText {
  position: absolute;
  left: 22.3611%;
  width: 55.5556%;
  height: 2.3704%;
  color: #000000;
  font-size: 100%;
  line-height: 150%;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.title1 {
  top: -0.3457%;
}
.downloadButton {
  display: block;
}
.downloadButton img {
  width: 100%;
  height: 100%;
}
.doubleColor {
  position: absolute;
  top: 4.8395%;
  left: 22.2222%;
  width: 53.4722%;
  height: 10.6173%;
}
.doubleColor_D {
  position: absolute;
  top: 14.6667%;
  left: 76.7361%;
  width: 2.6389%;
  height: 1.8765%;
  cursor: pointer;
}
.doubleMono {
  position: absolute;
  top: 18.5679%;
  left: 22.2222%;
  width: 53.4722%;
  height: 10.6173%;
}
.doubleMono_D {
  position: absolute;
  top: 28%;
  left: 76.7361%;
  width: 2.6389%;
  height: 1.8765%;
  cursor: pointer;
}
.text1 {
  top: 33.0864%;
}

.title2 {
  top: 36.5926%;
}
.LogoColor {
  position: absolute;
  top: 41.6296%;
  left: 23.5417%;
  width: 23.0556%;
  height: 10.8642%;
}
.LogoColor_D {
  position: absolute;
  top: 51.4074%;
  left: 42.3611%;
  width: 2.6389%;
  height: 1.8765%;
  cursor: pointer;
}
.LogoMono {
  position: absolute;
  top: 41.6296%;
  left: 53.1944%;
  width: 23.0556%;
  height: 10.8642%;
}
.LogoMono_D {
  position: absolute;
  top: 51.4074%;
  left: 76.7361%;
  width: 2.6389%;
  height: 1.8765%;
  cursor: pointer;
}
.text2 {
  top: 56.1481%;
}

.title3 {
  top: 62.0247%;
}
.InfColor {
  position: absolute;
  top: 64.9383%;
  left: 23.3333%;
  width: 23.1944%;
  height: 6.7654%;
}
.InfColor_D {
  position: absolute;
  top: 70.0741%;
  left: 42.3611%;
  width: 2.6389%;
  height: 1.8765%;
  cursor: pointer;
}
.InfMono {
  position: absolute;
  top: 64.9383%;
  left: 52.5%;
  width: 23.1944%;
  height: 6.7654%;
}
.InfMono_D {
  position: absolute;
  top: 70.0741%;
  left: 76.7361%;
  width: 2.6389%;
  height: 1.8765%;
  cursor: pointer;
}
.text3 {
  top: 73.0864%;
}
